<div class="container text-center">
  <p style="color: green"><%= notice %></p>

  <%= render @livro %>

  <div>
    <%= link_to "Alterar este livro", edit_livro_path(@livro) %> |
    <%= link_to "Voltar a livros", livros_path %>

    <%= button_to "Apagar este livro", @livro, method: :delete %>
  </div>
</div>
